@using PagedList;
@using PagedList.Mvc;
@model IPagedList<EntityLayer.Entities.Comment>
@{
    ViewBag.Title = "Comment";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>Kullanıcı</th>
        <th>Ürün Adı</th>
        <th>Tarih</th>
        <th>Yorum</th>
        <th>Sil</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.User.Name @item.User.Surname</td>
            <td>@item.Product.Name</td>
            <td>@item.Date</td>
            <td>@item.Content</td>
            <td>@Html.ActionLink("Sil", "Delete", new { @item.Id }, new { @class = "btn btn-danger", onclick = "return confirm ('Silmek istiyor musunuz ?')" })</td>
        </tr>
    }
    @Html.PagedListPager(Model, sayfa => Url.Action("Comment", new { sayfa }), PagedListRenderOptions.Classic)
</table>

